#ignoring the .env file

.env

#ignoring the variable sessions
anon.*

#ignoring virtual environment
Tel_Scr/

#ignoring output and results folders for confedintionality
channel_messages/

media/

#ignoring the other scraper for now for previlages reasons
bot_scraper.py